<?php
/**
 * exception.php
 *
 */
return [
    'default' => [
        'response' => function (\Throwable $e) {
            return [
                'error'    => $e->getMessage(),
                'errno'    => (string) $e->getCode() ?: '-1',
                'dataType' => 'ERROR',
            ];
        },
    ],
];
