<?php
/**
 * exception.php
 *
 */
return [
    'development' => [
        'response' => function (Exception $e) {
            return [
                'error'    => $e->getMessage(),
                'errno'    => '-1',
                'dataType' => 'ERROR',
                'code'     => $e->getCode(),
                'file'     => $e->getFile(),
                'line'     => $e->getLine(),
                'trace'    => explode("\n", $e->getTraceAsString()),
            ];
        },
        'log'      => function (Exception $e) {
            return [
                'msg'   => $e->getMessage(),
                'code'  => $e->getCode(),
                'file'  => $e->getFile(),
                'line'  => $e->getLine(),
                'trace' => explode("\n", $e->getTraceAsString()),
            ];
        },
    ],
];
